*{
    font-family: sans-serif;
}
.container{
    background-color: rgb(242, 242, 244);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .about{
        background-color: #79959ee4;
        padding: 50px;
        height: 200px;
        width: 400px;
        border: 1px solid red;
        border-radius: 10px;
        box-shadow: 10px 10px 10px gray;
    }

    .owner{
       color: rgb(85, 150, 108);
    }

    .contact{
        gap: 10px;
        img{
            height: 35px;
            width: 40px;
        }
    }
}